.doing-items {
  position: relative;
}
.doing-text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 370px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}
.doing {
  padding-bottom: 94px;
}
.doing-head {
  text-align: center;
  margin-bottom: 42px;
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
}
.doing-items {
  flex-basis: calc(100% / 3 - 30px);
}
.doing-items:not(:last-child) {
  margin-right: 30px;
}
.doing-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
