.team-main-head {
  text-align: center;
  margin-bottom: 50px;
}
.team-second-head {
  margin-bottom: 10px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-items {
  flex-basis: calc(100% / 4 - 30px);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.social-networks {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--transition-duration) var(--main-cubic),
    background-color var(--transition-duration) var(--main-cubic);
  &:hover {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
.social-networks-size {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-networks-items:not(:last-child) {
  margin-right: 10px;
}

.team-main-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-second-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
